<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
	"http://mybatis.apache.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.WindTech.store.mapper.NewsCommentMapper">

	<!-- 插入活动 -->
	<insert id="insert">
		INSERT INTO newsComment (
			cid,news_id,
			user_name,comment_date,
			user_avatar,comment_praise,
			createdUser, createdTime,
			modifiedUser, modifiedTime
		) VALUE (
			#{cid},
			#{news_id},
			#{user_name}, #{comment_date},
			#{user_avatar}, #{comment_praise},
			#{createdUser}, #{createdTime},
			#{modifiedUser}, #{modifiedTime}
		)
	</insert>
	<!-- 根据id删除活动数据 -->
	<delete id="deleteByCid">
		DELETE FROM newsComment WHERE cid=#{cid}
	</delete>
	<!-- 展示新闻活动 -->
	<select id="showNewsComment"
			resultType="cn.WindTech.entity.NewsComment">
		SELECT
		*
		FROM
		newsComment
		Limit #{startPage},#{pageSize}
	</select>
	<!-- 全部活动数据数目 -->
	<select id="countByCid" resultType="Integer">
		SELECT
		COUNT(1) count
		FROM newsComment
	</select>
</mapper>






