<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
	"http://mybatis.apache.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.WindTech.store.mapper.NewsMapper">

	<!-- 插入新闻 -->
	<insert id="insert">
		INSERT INTO news (
			news_title,news_tag,
			news_date,news_praise,
			news_comment,news_content,
			news_intro,news_isPass,
			news_view,news_share,
			news_image,news_hot,
			news_activity,uaid,
			news_isCold,news_refuselog,
            news_award,news_activitylog,
			news_praiseArr,news_keywords,
			createdUser, createdTime,
			modifiedUser, modifiedTime
		) VALUE (
			#{news_title},
			#{news_tag},
			#{news_date}, #{news_praise},
			#{news_comment}, #{news_content},
			#{news_intro}, #{news_isPass},
			#{news_view}, #{news_share},
			#{news_image}, #{news_hot},
			#{news_activity},#{uaid},
			#{news_isCold},#{news_refuselog},
            #{news_award},#{news_activitylog},
			#{news_praiseArr},#{news_keywords},
			#{createdUser}, #{createdTime},
			#{modifiedUser}, #{modifiedTime}
		)
	</insert>
	<!-- 展示新闻 -->
	<select id="showNews"
			resultType="cn.WindTech.store.entity.News">
		SELECT
		*
		FROM
		news
		Limit #{startPage},#{pageSize}
	</select>
	<!-- 全部新闻数据数目 -->
	<select id="countByNid" resultType="Integer">
		SELECT
		COUNT(1) count
		FROM news
	</select>

    <!-- 根据id删除产品数据 -->
    <delete id="deleteByNid">
        DELETE FROM news WHERE nid=#{nid}
    </delete>

    <!-- 修改相应id的新闻数据 -->
    <update id="updateInfo">
        UPDATE
        news
        SET
        news_title=#{news_title},news_tag=#{news_tag},
        news_date=#{news_date},
		news_praise=#{news_praise},
		news_comment=#{news_comment},
        news_content=#{news_content},
		news_intro=#{news_intro},
		news_isPass=#{news_isPass},
		news_view=#{news_view},
		news_share=#{news_share},
		news_image=#{news_image},
		news_hot=#{news_hot},
		news_activity=#{news_activity},
		uaid=#{uaid},
		news_isCold=#{news_isCold},
		news_refuselog=#{news_refuselog},
        news_award=#{news_award},
		news_activitylog=#{news_activitylog},
		news_praiseArr=#{news_praiseArr},
		news_keywords=#{news_keywords},
        modifiedUser=#{modifiedUser},modifiedTime=#{modifiedTime}
        WHERE
        nid=#{nid}
    </update>
	<!-- 搜索新闻数据 -->
	<select id="searchNews"
			resultType="cn.WindTech.store.entity.News">
		SELECT
		*
		FROM
		news
		where
		news_title like concat('%',#{news_title},'%')
		and
		news_tag like concat('%',#{news_tag},'%')
		Limit #{startPage},#{pageSize}
	</select>
	<!-- 不同类型的新闻数据有多少条 -->
	<select id="countSearchNews" resultType="Integer">
		SELECT
		COUNT(1) count
		FROM news
		where
		news_title like concat('%',#{news_title},'%')
		and
		news_tag like concat('%',#{news_tag},'%')
	</select>
    <!-- 删除相应id的文件路径和文件名 -->
    <update id="deleteFile">
        UPDATE
        news
        SET
        ${news_image}=null,
        modifiedUser=#{modifiedUser},
        modifiedTime=#{modifiedTime}
        WHERE
        nid=#{nid}
    </update>
	<!-- 根据id获取新闻信息 -->
	<select id="findByNid"
			resultType="cn.WindTech.store.entity.News">
		SELECT
		*
		FROM
		news
		WHERE
		nid=#{nid}
	</select>

	<!-- 根据id获取新闻信息 -->
	<select id="findByANid"
			resultType="cn.WindTech.store.entity.News">
		SELECT
		*
		FROM
		news
		WHERE
		news_activity=#{anid}
	</select>

	<!-- 根据id获取新闻信息 -->
	<select id="findByUAid"
			resultType="cn.WindTech.store.entity.News">
		SELECT
		*
		FROM
		news
		WHERE
		uaid=#{uaid}
	</select>
</mapper>






