<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
	"http://mybatis.apache.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.WindTech.store.mapper.ProductMapper">

	<!-- 插入产品数据 -->
	<!-- Integer insert(Product product) -->
	<insert id="insert">
		INSERT INTO product (
			pro_Name,pro_Type,
			pro_Num,pro_State,
			pro_img,pro_info,
			createdUser, createdTime,
			modifiedUser, modifiedTime
		) VALUE (
			#{pro_Name},
			#{pro_Type},
			#{pro_Num}, #{pro_State},
			#{pro_img}, #{pro_info},
			#{createdUser}, #{createdTime},
			#{modifiedUser}, #{modifiedTime}
		)
	</insert>
	<!-- 展示产品数据 -->
	<!--  List<ProductVO> findByPid(); -->
	<select id="showProduct"
			resultType="cn.WindTech.store.vo.ProductVO">
		SELECT
			*
		FROM
			product
	</select>
	<!-- 展示相应id的产品数据 -->
	<!--  Product findByPId(Integer pid); -->
	<select id="findByPId"
			resultType="cn.WindTech.store.entity.Product">
		SELECT
			pid,
			pro_Name,pro_Type,
			pro_Num,pro_State,
			pro_img,pro_info
		FROM
			product
		WHERE
			pid=#{pid}
	</select>
	<!-- 根据id删除产品数据 -->
	<!-- Integer deleteByPid(Integer pid) -->
	<delete id="deleteByPid">
		DELETE FROM product WHERE pid=#{pid}
	</delete>

	<!-- 修改相应id的产品数据 -->
	<!-- Integer updateInfo(Product product) -->
	<update id="updateInfo">
			UPDATE
				product
			SET
				pro_Name=#{pro_Name},pro_Type=#{pro_Type},
				pro_Num=#{pro_Num},
				pro_State=#{pro_State},
				pro_info=#{pro_info},
				modifiedUser=#{modifiedUser},modifiedTime=#{modifiedTime}
			WHERE
				pid=#{pid}
	</update>

	<!-- 更新产品图片 -->
	<!--Integer updateImage(-->
	<!--@Param("pid") Integer pid,-->
	<!--@Param("pro_img") String pro_img,-->
	<!--@Param("modifiedUser") String modifiedUser,-->
	<!--@Param("modifiedTime") String modifiedTime);-->
	<update id="updateImage">
		UPDATE
			product
		SET
			pro_img=#{pro_img},
			modifiedUser=#{modifiedUser},
			modifiedTime=#{modifiedTime}
		WHERE
			pid=#{pid}
	</update>

</mapper>






