<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
	"http://mybatis.apache.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.WindTech.store.mapper.ProductMapper">

	<!-- 插入产品数据 -->
	<!-- Integer insert(Product product) -->
	<insert id="insert">
		INSERT INTO product (
			pro_Name,pro_Type,
			pro_Num,pro_State,
			pro_fontTiltOne,pro_info,
			pro_file, pro_finger,
			pro_driver, pro_video,
			pro_fontTiltTwo,pro_backTiltOne,
			pro_backTiltTwo,pro_font,pro_back,
			createdUser, createdTime,
			modifiedUser, modifiedTime
		) VALUE (
			#{pro_Name},
			#{pro_Type},
			#{pro_Num}, #{pro_State},
			#{pro_fontTiltOne}, #{pro_info},
			#{pro_file}, #{pro_finger},
			#{pro_driver}, #{pro_video},
		    #{pro_fontTiltTwo},#{pro_backTiltOne},
			#{pro_backTiltTwo},#{pro_font},#{pro_back},
			#{createdUser}, #{createdTime},
			#{modifiedUser}, #{modifiedTime}
		)
	</insert>
	<!-- 展示产品数据 -->
	<!--  List<ProductVO> findByPid(); -->
	<select id="showProduct"
			resultType="cn.WindTech.store.vo.ProductVO">
		SELECT
			*
		FROM
			product
		Limit #{startPage},#{pageSize}
	</select>
	<!-- 展示产品数据 -->
	<!--  List<ProductVO> showAllProduct(); -->
	<select id="showAllProduct"
			resultType="cn.WindTech.store.vo.ProductVO">
		SELECT
			*
		FROM
			product
		where
			pro_State='1'
	</select>
	<select id="searchProduct"
			resultType="cn.WindTech.store.vo.ProductVO">
		SELECT
			*
		FROM
			product
		where
			pro_Name like concat('%',#{pro_Name},'%')
		and
			pro_State like concat('%',#{pro_State},'%')
		and
			pro_Type like concat('%',#{pro_Type},'%')
		Limit #{startPage},#{pageSize}
	</select>
	<!-- 展示相应id的产品数据 -->
	<!--  Product findByPId(Integer pid); -->
	<select id="findByPId"
			resultType="cn.WindTech.store.entity.Product">
		SELECT
			*
		FROM
			product
		WHERE
			pid=#{pid}
	</select>
	<!-- 根据id删除产品数据 -->
	<!-- Integer deleteByPid(Integer pid) -->
	<delete id="deleteByPid">
		DELETE FROM product WHERE pid=#{pid}
	</delete>

	<!-- 修改相应id的产品数据 -->
	<!-- Integer updateInfo(Product product) -->
	<update id="updateInfo">
			UPDATE
				product
			SET
				pro_Name=#{pro_Name},pro_Type=#{pro_Type},
				pro_Num=#{pro_Num},
				pro_State=#{pro_State},
				pro_info=#{pro_info},
				pro_fontTiltOne=#{pro_fontTiltOne},
				pro_file=#{pro_file},
				pro_finger=#{pro_finger},
				pro_driver=#{pro_driver},
				pro_video=#{pro_video}, pro_fontTiltTwo=#{pro_fontTiltTwo},
				pro_backTiltOne=#{pro_backTiltOne},pro_backTiltTwo=#{pro_backTiltTwo},
				pro_font=#{pro_font},pro_back=#{pro_back},
				modifiedUser=#{modifiedUser},modifiedTime=#{modifiedTime}
			WHERE
				pid=#{pid}
	</update>

	<!-- 删除相应id的文件路径和文件名 -->
	<update id="deleteFile">
		UPDATE
			product
		SET
			${fileName}=null,
			modifiedUser=#{modifiedUser},
			modifiedTime=#{modifiedTime}
		WHERE
			pid=#{pid}
	</update>
    <!-- 更新时间 -->
    <update id="updateTime">
        UPDATE
        user
        SET
        modifiedTime=#{modifiedTime}
        WHERE
        username=#{username}
    </update>

	<select id="countByPid" resultType="Integer">
		SELECT
		COUNT(1) count
		FROM product
	</select>

	<select id="countSearch" resultType="Integer">
		SELECT
		COUNT(1) count
		FROM product
		where
		pro_Name like concat('%',#{pro_Name},'%')
		and
		pro_State like concat('%',#{pro_State},'%')
		and
		pro_Type like concat('%',#{pro_Type},'%')
	</select>

	<!-- 展示产品类型 -->
	<select id="showType"
			resultType="cn.WindTech.store.vo.TypeVO">
		SELECT
			pro_Type
		FROM
			product
		group by pro_Type
	</select>

</mapper>






