<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
	"http://mybatis.apache.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.WindTech.store.mapper.UsersActivityMapper">
	<select id="showAll"
			resultType="cn.WindTech.store.entity.UsersActivity">
		SELECT
		*
		FROM
		user_behavior
	</select>
	<!-- 插入活动 -->
	<insert id="insert">
		INSERT INTO user_behavior (
			uaid,news_id,news_tag,
			tag_praise,tag_comment,tag_share,
			tag_view,add_tag,
			createdUser, createdTime,
			modifiedUser, modifiedTime
		) VALUE (
			#{uaid},#{news_id},
			#{news_tag},#{tag_share},
			#{tag_praise}, #{tag_comment},
			#{tag_view},#{add_tag},
			#{createdUser}, #{createdTime},
			#{modifiedUser}, #{modifiedTime}
		)
	</insert>
	<!-- 根据id获取活动信息 -->
	<select id="findByUAid"
			resultType="cn.WindTech.store.entity.UsersActivity">
		SELECT
		*
		FROM
		user_behavior
		WHERE
		uaid=#{uaid}
	</select>
	<!-- 根据id获取活动信息 -->
	<select id="findByUAidNid"
			resultType="cn.WindTech.store.entity.UsersActivity">
		SELECT
		*
		FROM
		user_behavior
		WHERE
		uaid=#{uaid}
		and
		news_id=#{news_id}
	</select>
	<update id="updateActivity">
		UPDATE
		user_behavior
		SET
		${add_tag} = ${add_tag}+1
		WHERE
		uaid=#{uaid}
		and
		news_id=#{news_id}
	</update>
</mapper>






