<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
	"http://mybatis.apache.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.WindTech.store.mapper.UserMapper">
	<!-- 插入用户数据 -->
	<!-- Integer insert(User user) -->
	<insert id="insert">
		INSERT INTO user (
			username, password, isDelete,
			createdUser, createdTime,
			modifiedUser, modifiedTime
		) VALUES (
			#{username}, #{password}, #{isDelete},
			#{createdUser}, #{createdTime},
			#{modifiedUser}, #{modifiedTime}
		)
	</insert>
	<!-- 根据用户名查询用户数据 -->
	<!-- User findByUsername(String username) -->
	<select id="findByUsername"
		resultType="cn.WindTech.store.entity.User">
		SELECT 
			uid, username,
			password, isDelete
		FROM 
			user
		WHERE 
			username=#{username}
	</select>
	<!-- 根据用户id查询用户数据 -->
	<!-- User findByUid(Integer uid) -->
	<select id="findByUid"
			resultType="cn.WindTech.store.entity.User">
		SELECT
		username,
		password, salt,
		 isDelete
		FROM
		user
		WHERE
		uid=#{uid}
	</select>
	<!-- 更新用户密码 -->
	<update id="updatePassword">
		UPDATE
		user
		SET
		password=#{password},
		modifiedTime=#{modifiedTime}
		WHERE
		uid=#{uid}
	</update>
    <!-- 更新时间 -->
    <update id="updateTime">
        UPDATE
        user
        SET
        modifiedUser=#{modifiedUser},
        modifiedTime=#{modifiedTime}
        WHERE
        username=#{username}
    </update>
	<!-- 根据id删除用户数据 -->
	<delete id="deleteByUid">
		DELETE FROM user WHERE uid=#{uid}
	</delete>
	<!-- 展示用户数据 -->
	<!--  List<ProductVO> showUser(); -->
	<select id="showUser"
			resultType="cn.WindTech.store.entity.User">
		SELECT
		*
		FROM
		user
	</select>

</mapper>






